<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AirCanada.Services.Common" version="1.0.2-ci-20171102-164254" targetFramework="xamarinios10" />
  <package id="AirCanada.Services.OperationsService" version="0.0.1-ci-20171114-224249" targetFramework="xamarinios10" />
  <package id="MWX.XamForms.Popup" version="1.0.0.312" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="15.4.0.17" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="xamarinios10" />
</packages>